.board-game-wrapper{
    height: calc(100vw -20px);
    width: calc(100vw -20px);
    max-width: 500px;
    max-height: 500px;
}

.board {
    width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.board .board-row {
    display: flex;
    flex: 1;
    position: relative;
}

.board .board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    background-color: white;
    margin: 2px;
}

.tile-icon {
    height: 100%;
    width:100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tile-icon.nested-tile {
    width: 80%;
    height: 80%;
}

.tile-icon.water-tile {
    background-color: #22a7f0;
}

.tile-icon.soil-tile {
    background-color: #c0392b;
}

.tile-icon.soil-tile-wet {
    background-color:#96281b;
    color: white;
}

.tile-icon.seed-tile {
    background-color: #fad859;
}

.tile-icon.seed-tile-fire {
    background-color: #cf000f;
}

.tile-icon.plant-tile-sprout-fire {
    background-color: #e74c3c;
}

.tile-icon.plant-tile-budding-fire {
    background-color: #d91e18;
}

.tile-icon.plant-tile-fire {
    background-color: #cf000f;
}

.tile-icon.plant-tile-sprout {
    background-color: #1e824c;
}

.tile-icon.plant-tile-budding {
    background-color: #87d37c;
}

.tile-icon.plant-tile {
    background-color: #2ecc71;
}

.tile-icon.weed-tile-seedling {
    background-color: #049372;
}

.tile-icon.weed-tile-sprout {
    background-color: #019875;
}

.tile-icon.weed-tile-budding {
    background-color: #03a678;
}

.tile-icon.weed-tile-fullyGrown {
    background-color: #1e824c;
}

.tile-icon.rock-tile {
    background-color: #bdc3c7;
}

.tile-icon.wilted-plant-tile {
    background-color: #91b496;
}

.tile-icon.dead-plant-tile {
    background-color: #2e3131;
    color: white;
}

.tile-bag {
    background-color: #6495ed;
    width: calc(100vw - 20px);
    height: 100px;
    max-width: 500px;
    border-radius: 6px;
    display: flex;
    justify-items: space-between;
    flex:1;
}

.tile-bag .tile-icon {
    height: initial;
    width: initial;
    flex:  1;
    margin: 2px;
}

@media (max-width: 992px) {
    .tile-bag {
  
        height: 20vw;
    }

    .tile-bag .tile-icon{
       height: 100%;
       flex: 1;
    }
}