.diamond-sorter .red {
    background: #E74C3C;
    opacity: 0.6;
}

.diamond-sorter .blue {
    background: #81CFE0;
    opacity: 0.6;
}

.diamond-sorter .green {
    background: #66CC99;
    opacity: 0.7;
}

.diamond-sorter .black {
    background: #4D4D4D;
    opacity: 0.6;
}

.rotate-wrapper {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    top: 122px;
    left: 122px;
}

@media(max-width:767px) {
    .rotate-wrapper {
        top: 85px;
        left: 85px;
    }
    .rotate-wrapper .fa-sync-alt {
        font-size: 26px;
    }
}