.center-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.diamond-holder {
    background: white;
    height: 275px;
    width: 275px;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
    /* bottom: 50%;
    top: 50%;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto */
}

 .diamond {
    height: 130px;
    width: 130px;
    margin: 5px;
    opacity: 1;
    filter: brightness(100%);
    transform: rotate(45deg);
}


.diamond-red {
    background: #E74C3C;
}

 .diamond-blue {
    background: #81CFE0;
}

.diamond-green {
    background: #66CC99;
}

 .diamond-black {
    background: #4D4D4D;
}

.diamond-holder .diamond:first-child {
    margin-bottom: 0;
}

.diamond-holder .diamond{
    transform: rotate(0deg);
}

.diamond-holder .diamond:nth-child(2){
    margin-left: 0;
    margin-bottom: 0;
}

.diamond-holder .diamond:last-child {
    margin-left: 0;
}

@media(max-width:767px) {
    .diamond-holder {
        height: 200px;
        width: 200px;
    }
    .diamond-holder .diamond {
        height: 92px;
        width: 92px;
    }
}