.diamond-holder-pallete {
    height: 130px;
    width: 130px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
    background: transparent;
}

.diamond-holder-pallete .diamond {
    height: 57px;
    width: 57px;
    margin: 4px
}

.diamond-holder-pallete .red {
    background: #E74C3C;
}

 .diamond-holder-pallete .blue {
    background: #81CFE0;
}

.diamond-holder-pallete .green {
    background: #66CC99;
}

 .diamond-holder-pallete .black {
    background: #4D4D4D;
}

.diamond-holder-pallete .red {
    margin-bottom: 0;
}

.diamond-holder .diamond{
    transform: rotate(0deg);
}

.diamond-holder-pallet .blue {
    margin-left: 0;
    margin-bottom: 0;
}

.selected{
    opacity: 0.5;
}
