@font-face {
    font-family: SpaceGrotesk;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    background: #e4e9ed;
    font-family: SpaceGrotesk, sans-serif;
    margin: 0;
    font-size: 18px;
}

.full-page-fex-col-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.relative-wrapper {
    position: relative;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-wrapper-horizontal {
    display: flex;
    justify-content: center;
}

.center-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px)
}

.content-wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 32px 20px;
}

.padding-gapper-2 {
    padding: 80px;
}

@media(max-width:767px) {
    body {
        font-size: 16px;
    }
    .content-wrapper {
        padding: 16px 20px;
    }
    .center-page-wrapper {
        height: calc(100vh - 40px)
    }
    .padding-gapper-2 {
        padding: 60px;
    }
}