@font-face {
    font-family: SpaceGrotesk;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    background: #f5f6fa;
    font-family: SpaceGrotesk, sans-serif;
    margin: 0;
    font-size: 18px;
}

.full-page-fex-col-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.relative-wrapper {
    position: relative;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

@media(max-width:767px) {
    body {
        font-size: 16px;
    }
}