.nav-bar {
    display: flex;
    background: #24252a;
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    height: 56px;
    align-items: center;
}

.nav-bar li {
    padding: 0 14px;
}

.nav-bar li:hover a {
    color: #66CC99;
    cursor: pointer;
    transition: .5s;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar .active {
    color: #66CC99;
    text-decoration: underline;
}

.nav-bar li:first-child {
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .diamond-nav {
    height: 67px;
    width: 67px;
    margin-top: 54px;
    transition: 1.5s;
    transform: rotate(45deg);
}

.nav-bar .diamond-nav:hover {
    cursor: pointer;
    animation: spin;
    transition: 1.5s;
    transform: rotate(225deg);
}

.nav-bar .diamond-nav .diamond {
    width: 26px;
    height: 26px;
}

@media(max-width:767px) {
    .nav-bar {
        height: 40px;
        align-items: center;
    }
    .nav-bar li:first-child {
        width: 80px;
    }
    .nav-bar li {
        padding: 0px 8px;
    }
    .nav-bar .diamond-nav {
        height: 45px;
        width: 45px;
        margin-top: 39px;
    }
    .nav-bar .diamond-nav .diamond {
        width: 18px;
        height: 18px;
        margin: 3px;
    }
    .nav-bar .diamond-nav .diamond:nth-child(2) {
        margin-left: 0;
        margin-bottom: 0;
    }
    .nav-bar .diamond-nav .diamond:last-child {
        margin-left: 0;
    }
}