.shape-sorter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.insert-diamond {
    animation: insert-diamond;
    animation-duration: 2s;
    opacity: 0.5;
}

.diamond .black {
    margin-left: 0;
}

@keyframes insert-diamond {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}