.bacon-wrapper{
    height: 80vh;
    width: 90vw;
    position: relative;
    font-size: 1rem;
    margin:1em auto 0 auto;
}

.bacon-text{
    color:#cf000f;
}

.and-text{
    color:#2e3131;
}

.egg-text{
    color: #eeee00;
}

.ingredient{
    font-weight: bold;
    font-size: 2em;
    color: white;
    padding:0.25em 0.5em;
}

 .bacon{
    z-index: 3;
    background:#cf000f;
}

.egg{
    z-index: 1;
    background: #eeee00;
}

.and{
    background:#2e3131;
    z-index: 2;
}


.bacon-wrapper .bacon,.bacon-wrapper .egg, .bacon-wrapper .and{
    position: absolute;
    display: none;
    cursor: pointer;
   
}

.bacon-wrapper .bacon.show,.bacon-wrapper .egg.show, .bacon-wrapper .and.show{
    display: block;
}

.bacon-wrapper .yellow{
    background: #eeee00;
}

.bacon-wrapper .red{
    background: #cf000f;
}

.bacon-wrapper .black{
    background: #2e3131;
}

.bacon-wrapper .vertical{
    transform: rotate(90deg);
}

.bacon-wrapper .vertical{
    transform: rotate(180deg);
}

.bacon-wrapper .large{
  font-size: 5em;
}

.bacon-wrapper .medium{
    font-size: 3em;
}

.bacon-wrapper .small{
    font-size: 0.5em;
}


.bacon-wrapper h1,
.bacon-wrapper h2,
.bacon-wrapper .experiment-button{
    margin-top: 1.5rem;
}

.bacon-wrapper .experiment-button{
    font-size: 1.2em;
    
}