.bacon-wrapper{
    height: 80vh;
    width: 90vw;
    position: relative;
    font-size: 1rem;
    margin:1em auto 0 auto;
}

.bacon-text{
    color:#cf000f;
}

.and-text{
    color:#2e3131;
}

.egg-text{
    color: #eeee00;
}

.ingredient{
    font-weight: bold;
    font-size: 2em;
    color: white;
    padding:0.25em 0.5em;
    user-select: none;
}

 .bacon{
    z-index: 3;
    background:#cf000f;
}

.egg{
    z-index: 1;
    background: #eeee00;
}

.and{
    background:#2e3131;
    z-index: 2;
}


.bacon-wrapper .bacon,.bacon-wrapper .egg, .bacon-wrapper .and{
    position: absolute;
    display: none;
    cursor: pointer;
   
}

.bacon-wrapper .bacon.show,.bacon-wrapper .egg.show, .bacon-wrapper .and.show{
    display: block;
}

.bacon-wrapper .yellow{
    background: #eeee00;
}

.bacon-wrapper .red{
    background: #cf000f;
}

.bacon-wrapper .black{
    background: #2e3131;
}

.bacon-wrapper .vertical{
    transform: rotate(90deg);
}

.bacon-wrapper .vertical{
    transform: rotate(180deg);
}

.bacon-wrapper .angle-1{
    transform: rotate(45deg);
}

.bacon-wrapper .angle-2{
    transform: rotate(150deg);
}

.bacon-wrapper .angle-3{
    transform: rotate(200deg);
}

.bacon-wrapper .angle-4{
    transform: rotate(315deg);
}

.bacon-wrapper .large{
  font-size: 5em;
}

.bacon-wrapper .medium{
    font-size: 3em;
}

.bacon-wrapper .small{
    font-size: 0.5em;
}

.bacon-wrapper .left-to-right{
    animation-name: left-to-right;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.bacon-wrapper .top-to-bottom{
    animation-name: top-to-bottom;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


.bacon-wrapper h1,
.bacon-wrapper h2,
.bacon-wrapper .experiment-button{
    margin-top: 1.5rem;
}

.bacon-wrapper .experiment-button{
    font-size: 1.2em;
}

.egg.fact span,
.and.fact span,
.bacon.fact span{
    display: none;
  }  
  
  .egg.fact,
  .and.fact,
  .bacon.fact{
    background: #2e3131;
  }

.bacon.fact-1:before{
 content:"I come from a pig"
}

.bacon.fact-2:before{
    content:"I am meat"
}

.bacon.fact-3:before{
    content:"I am alive but have no wings"
}

.bacon.fact-4:before{
    content:"I'm not and and i'm not Egg"
}

.bacon.fact-5:before{
    content:"Bring me home"
}

.bacon.fact-6:before{
    content:"I rhyme with jamaican"
}

.egg.fact-1:before{
 content:"I come from a chicken"
}

.egg.fact-2:before{
    content:"I came first"
}

.egg.fact-3:before{
    content:"I like to lay down"
}

.egg.fact-4:before{
 content:"You would put me in a cake"
}

.egg.fact-5:before{
 content:"I'm vegeterian"
}

.egg.fact-6:before{
    content:"I'm not bacon and i'm not and"
}

.and.fact-1:before{
 content:"I come from the english language"
}

.and.fact-2:before{
    content:"I'm used in logic to form a conjunction"
}

.and.fact-3:before{
    content:"I'm used as a function word"
}

.and.fact-4:before{
 content:"My first letter is the first letter of the Alphabet"
}

.and.fact-5:before{
   content:"I'm vegan"
}

.and.fact-6:before{
    content:"I'm not Bacon and i'm not Eggs"
}

@keyframes left-to-right {
    0% {
        left:0%;
    }
    50% {
        left:100%;
    }
    100% {
        left:0%;
    }
}

@keyframes top-to-bottom {
    0% {
        top:0%;
    }
    50% {
        top:100%;
    }
    100% {
        top:0%;
    }
}