.blob-page{
  overflow: hidden;
}

.darkness{
  transition: 4;
  background: #2e3131;
  animation:color-transistions-background;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-duration: 4s;
}

.blob-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 1rem;
    transition: 4s;
}

.blob-wrapper.align-straight{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.blob-wrapper .traingle{
    grid-column-start: 2; 
    grid-row-start: 2;
}

.blob-wrapper.spin{
    animation: spining;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
}

.blob-wrapper.spin-speed-up-3{
  animation: spining, color-transistions-border;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}

.blob-wrapper.spin-speed-up-2{
  animation: spining, color-transistions-border;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

.blob-wrapper.spin-speed-up-1{
  animation: spining, color-transistions-border;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

.blob-wrapper.spin-speed-up-0{
  animation: spining, color-transistions-border;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.1s;
}

.blob-wrapper.round .blob{
    transition: 0.2s;
    border-radius: 50%;
}

.blob-wrapper.round.color-transition .blob{
    animation: color-transistions;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
  }

  .blob-wrapper.triangle-spin .triangle {
    animation: spining;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}

.blob-wrapper.borders-on{
  border: 0.5em solid red;
  border-radius: 50%;
}

.blob-wrapper.borders-on  div:nth-child(5){
  transition: 2s;
  padding: 1em;
  border: 0.5em solid red;
  border-radius: 50%;
  animation:color-transistions-border;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
}

.blob-wrapper.grow  .blob{
height: 100em;
width: 100em;
transition: 20s;
}

.blob{
    height: 10em;
    width: 10em;
    background:var(--diamond-red);
    transition: 1s;
    user-select: none;
}

.blob-small{
    height: 5em;
    width: 5em;
}

.blob-small.hidden{
    transition: 2s;
    opacity:1;
}


.blob-small.show{
    transition: 2s;
    opacity:1;
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 5em solid var(--diamond-red);
    border-right: 5em solid transparent;
  }

  .triangle-topright {
    width: 0;
    height: 0;
    border-top: 5em solid var(--diamond-blue);
    border-left: 5em solid transparent;
  }

  .triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 5em solid var(--diamond-black);
    border-right: 5em solid transparent;
  }

  .triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 5em solid var(--diamond-green);;
    border-left: 5em solid transparent;
  }

  .triangle.hidden{
    transition: 2s;
    opacity:0;
  }

  .triangle.show{
    transition: 2s;
    opacity:1;
  }

#moved{
   transition: 1s;
}

.blob-icon:hover{
  animation: spining;
  animation-timing-function: linear;
  animation-duration: 2s;
}

.blob-icon .blob{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.blob-icon .blob-small{
  height: 40px;
  width:  40px;
  border-radius: 50%;
}

.spin{
  animation: spining;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}


@keyframes spining{
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

@keyframes color-transistions{
    20%  {background: var(--diamond-red)}
    40% {background: var(--diamond-blue)}   
    60% {background: var(--diamond-black)}   
    80% {background: var(--diamond-green)}   
    100%  {background: var(--diamond-red)}
}

@keyframes color-transistions-background{
  20%  {background: #2e3131}
  40% {background: #bf55ec}   
  60% {background: #f0ff00}   
  80% {background:#f1a9a0}   
  100%  {background: #2e3131}
}

@keyframes color-transistions-border{
  20%  {border-color: var(--diamond-red)}
  40% {border-color: var(--diamond-blue)}   
  60% {border-color: var(--diamond-black)}   
  80% {border-color: var(--diamond-green)}   
  100%  {border-color: var(--diamond-red)}
}

@media(max-width:767px) {


  .blob-wrapper{
    column-gap:  0.5rem;
    row-gap: 0.5rem;
    font-size:  0.5rem;
}

}