.diamond-holder-pallete {
    height: 130px;
    width: 130px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.diamond-holder-pallete .diamond {
    height: 57px;
    width: 57px;
    margin: 5px
}

.diamond-holder-pallete .red {
    background:  var(--diamond-red);
}

.diamond-holder-pallete .blue {
    background: var(--diamond-blue);
}

.diamond-holder-pallete .green {
    background:var(--diamond-green);
}

.diamond-holder-pallete .black {
    background:  var(--diamond-black);
}

.selected {
    opacity: 0.7;
}