.carousel {
    margin: 18px auto 0 auto;
}

.fade-wrapper {
    margin: 18px auto 0 auto;
}

.diamond-sorter {
    width: 200px;
    height: 200px;
}

.diamond-sorter .red {
    background: var(--diamond-red);
    opacity: 0.6;
}

.diamond-sorter .blue {
    background:var(--diamond-blue);
    opacity: 0.6;
}

.diamond-sorter .green {
    background:var(--diamond-green);
    opacity: 0.7;
}

.diamond-sorter .black {
    background:var(--diamond-black);
    opacity: 0.6;
}

.rotate-wrapper {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    top: 85px;
    left: 85px;
}

.rotate-wrapper .fa-sync-alt {
    font-size: 26px;
}