.globe{
    height: 40vh;
    width: 40vh;
    border: 2px solid black;
}
.tree{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree .tree-top,.tree .tree-body{
    background-color: green;
    height: 20%;
}

.tree .tree-top{
    width: 20%;
}

.tree .tree-body{
    width: 60%;
}

.tree .tree-trunk{
    background-color: brown;
    height:40%;
    width: 25%;
}