@font-face {
    font-family: SpaceGrotesk;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

:root {
    --default-background: #e4e9ed;
    --diamond-red: #E74C3C;
    --diamond-blue: #81CFE0;
    --diamond-green: #66CC99;
    --diamond-black: #4D4D4D;
}
html{
    font-family: SpaceGrotesk, sans-serif !important;
    font-size: 18px;
}
body {
    background: var(--default-background);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.margin-top-default{
    margin-top: 1rem;
}


.content {
    padding-top:56px; 
}

.hidden {
    visibility: hidden;
}

.full-page-fex-col-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.relative-wrapper {
    position: relative;
}

.center {
    margin: 0 auto;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-wrapper-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-wrapper-horizontal {
    display: flex;
    justify-content: center;
}

.center-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
}

.center-text {
    text-align: center;
}

.content-wrapper {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 1em;
}

.space-between-wrapper {
    display: flex;
    justify-content: space-between;
}

.full-page{
    height: 100vh;
    width: 100vw;
}

.padding-gapper-2 {
    padding: 4.4em;
}

.experiment-button {
    background-color: #81cfe0;
    color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid transparent;
    user-select: none;
    padding: 0.5em 0.6em;
    transition: 0.5s;
    cursor: pointer;
}

.experiment-button:hover {
    background-color: #6caab8;
}

.experiment-button:hover {
    background-color: #6caab8;
}

.confirm-button {
    background-color: #6c9;
}

.cancel-button {
    background-color: #e74c3c;
}

.confirm-button:hover {
    background-color: #4e8f6e;
}

.cancel-button:hover {
    background-color: #b94133;
}

.next {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #24252a;
    text-align: center;
}

.next:hover {
    transition: 1s;
    cursor: pointer;
    color: #bfbfbf;
}

.next h1{
    margin-top: 4em;
}

.rotate{
    animation: rotate;
    animation-duration: 2s;
}

@media(max-width:767px) {
    body {
        font-size: 16px;
    }
    .content{
        padding-top: 40px;
    }
    .center-page-wrapper {
        height: calc(100vh -40px);
    }
    .hidden-xs{
        visibility: hidden;
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}