@font-face {
    font-family: SpaceGrotesk;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

:root {
    --default-background: #e4e9ed;
    --diamond-red: #E74C3C;
    --diamond-blue: #81CFE0;
    --diamond-green: #66CC99;
    --diamond-black: #4D4D4D;
}

html {
    font-family: SpaceGrotesk, sans-serif !important;
    font-size: 18px;
}

body {
    background: var(--default-background);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.page {
    margin-top: 3rem;
}

.margin-top-default {
    margin-top: 1rem;
}

.content {
    padding-top: 56px;
}

.hidden {
    visibility: hidden;
}

.full-page-fex-col-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.relative-wrapper {
    position: relative;
}

.center {
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-wrapper-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-wrapper-horizontal {
    display: flex;
    justify-content: center;
}

.center-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh -56px);
}

.center-in-parent-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
}

.center-text {
    text-align: center;
}

.content-wrapper {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

.space-between-wrapper {
    display: flex;
    justify-content: space-between;
}

.full-page {
    height: 100vh;
    width: 100vw;
}

.padding-gapper-2 {
    padding: 4.4em;
}

.experiment-button {
    background-color: #81cfe0;
    color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid transparent;
    user-select: none;
    padding: 0.5em 0.6em;
    transition: 0.5s;
    cursor: pointer;
    font-family: SpaceGrotesk;
    font-size: 1em;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}

.experiment-button:hover {
    background-color: #6caab8;
}

.experiment-button:hover {
    background-color: #6caab8;
}

.confirm-button {
    background-color: #6c9;
}

.cancel-button {
    background-color: #e74c3c;
}

.confirm-button:hover {
    background-color: #4e8f6e;
}

.cancel-button:hover {
    background-color: #b94133;
}

.next {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #24252a;
    text-align: center;
}

.next:hover {
    transition: 1s;
    cursor: pointer;
    color: #bfbfbf;
}

.next h1 {
    margin-top: 4em;
}

.rotate {
    animation: rotate;
    animation-duration: 2s;
}

.arrow {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.arrow:hover {
    cursor: pointer;
}

.arrow.right {
    transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
}

.arrow.up {
    transform: rotate(-135deg);
}

.arrow.down {
    transform: rotate(45deg);
}

.loading {
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .loading:before{
    content: "";
    display:block;
    position: absolute;
    height: 30%;
    width: 30%;
    background: #E74C3C;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

@media(max-width:767px) {
    body {
        font-size: 16px;
    }

    .page {
        margin-top: 2rem;
    }

    .content {
        padding-top: 40px;
    }

    .center-page-wrapper {
        height: calc(100vh -40px);
    }

    .hidden-xs {
        visibility: hidden;
    }
}

 .loading {
    width: 150px;
    height: 150px;
    position: relative;
  }
  
  .loading:before {
    content: "";
    display: block;
    position: absolute;
    height: 10%;
    width: 10%;
    top:calc(50% - 10%);
    background: #e74c3c;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes loading {
    0% {
      left: 0;
      background: #e74c3c;
      height: 10%;
      width: 10%;
    }
    50% {
      left: calc(100% - 50%);
      background: #81cfe0;
      transform: rotate(360deg);
        top:25%;
      height: 50%;
      width: 50%;
    }
    100% {
      left: 0;
      background: #66cc99;
      transform: rotate(0deg);
      height: 10%;
      width: 10%;
    }
    
  }
  



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}