.nav-bar {
    display: flex;
    background: #24252a;
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    height: 56px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-bar li {
    padding: 0 14px;
}

.nav-bar li:last-child{
 margin-left: auto;   
}

.nav-bar li:hover,.nav-bar li:hover a  {
    color: #66CC99;
    cursor: pointer;
    transition: .5s;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar .active {
    color: #66CC99;
    text-decoration: underline;
}

.nav-bar li:first-child {
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .diamond-nav {
    height: 67px;
    width: 67px;
    margin-top: 54px;
    transition: 1.5s;
    transform: rotate(45deg);
    z-index: 99;
}

.nav-bar .diamond-nav:hover {
    cursor: pointer;
    animation: spin;
    transition: 1.5s;
    transform: rotate(225deg);
}

@media(max-width:767px) {
    .nav-bar {
        height: 40px;
    }
    .nav-bar li:first-child {
        width: 80px;
    }
    .nav-bar li {
        padding: 0px 8px;
    }
    .nav-bar .diamond-nav {
        height: 45px;
        width: 45px;
        margin-top: 39px;
    }
}