
.nes-content .game-box{
    width: 600px;
    margin: 0 auto;
}

.nes-content .game-box .nes-progress{
    border-image-outset: 1.5;
    height: 18px;
    margin: 0px;
 }

.nes-content .game-box .game-screen{
}

.nes-content .game-screen .monster-box{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nes-content .monster-box .monster{
    zoom:3;
    animation: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
}

.nes-content .monster-bars .nes-progress.is-warning.critical-hit::-webkit-progress-value {
    background-color:red;
}

.nes-content .hero-buttons{
    width: 100%;
display: flex;
justify-content: space-evenly;
}

.nes-content .hero-buttons .nes-btn{
    width: 20%;
    font-size: 0.8em;
}

.nes-content .nes-progress{
    border-image-outset: 1.5;
    height: 18px;
    margin: 0px;
 }

 @keyframes move{
    0%{
        position: relative;
        top:0;
    }
    50%{
        position: relative;
        top: 10%;
    }
    100%{
        position: relative;
        top: 0;
    }
 }