.nes-content .game-box {
    width: 600px;
    margin: 0 auto;
    max-height: 90vh;
    background-color: #d3d3d3;
}

.nes-content .nes-progress {
    border-image-outset: 1.2;
    height: 20px;
    margin: 0px;
    position: relative;
}

.nes-content .nes-progress::after {
    content: attr(display);
    position: absolute;
    top: -3px;
    font-size: 0.8em;
}

.nes-content .game-box .screen-wrapper {
    background: black;
}

.nes-content .game-box .game-screen {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: initial;
    padding: 0.1em;
    background-color: #fff;
}

.nes-container .game-screen .start-wrapper {
    flex: 1;
}

.nes-content .game-screen .start-screen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f9f2d7;
}

.nes-content .game-screen .monster-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nes-content .monster-box .monster {
    zoom: 1.5;
    animation: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    position: relative;
}

.nes-content .monster-bars .nes-progress.is-warning.critical-hit::-webkit-progress-value {
    background-color: red;
}

.nes-content .hero-bars .hero-stats {
    display: flex;
    justify-content: space-between;
}

.nes-content .hero-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.3em;
}

.nes-content .hero-buttons .nes-btn {
    width: 20%;
    font-size: 0.8em;
    height: 58px;
}

.nes-content .level-up-screen h1,
.nes-content .level-up-screen p {
    text-align: center;
}

.nes-content .level-up-screen {
    text-align: center
}

.nes-content .level-up-screen .level-up-options {
    display: flex;
    justify-content: space-evenly;
}

.nes-content .level-up-options>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nes-content .level-up-screen .level-up-options .nes-icon.coin:before {
    color: #108de0;
}

.nes-content .level-up-screen .level-up-options div:hover {
    cursor: url(/images/imagescursor-click.png) 14 0, pointer;
}

.nes-content .level-up-screen .level-up-options span {
    display: block;
}

.nes-content .game-over-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nes-content .game-over-screen .retry:hover {
    cursor: url(/images/imagescursor-click.png) 14 0, pointer;
}

@keyframes move {
    0% {
        position: relative;
        right: 0;
    }
    25% {
        position: relative;
        right: 2.5%;
    }
    50% {
        position: relative;
        right: 0;
    }
    75% {
        position: relative;
        right: -2.5%;
    }
    100% {
        position: relative;
        right: 0;
    }
}

@media(max-width:767px) {
    .content-wrapper>.nes-container {
        margin-top: 16px;
        padding-bottom: 0;
    }
    .nes-content .game-box {
        width: 100%;
        font-size: 0.8em;
    }
    .nes-content .nes-container {
        padding: 0.8em;
    }
    .nes-content .game-box .game-screen {
        height: 215px;
    }
    .nes-content .hero-buttons {
        width: 100%;
        display: block;
    }
    .nes-content .hero-buttons .nes-btn {
        width: 100%;
        margin: 0.6em 0;
        height: initial;
    }
    .nes-content .hero-buttons {}
    .nes-content .nes-progress {
        height: 17px;
    }
    .nes-content .game-box .monster-box .monster {
        zoom: 0.6;
    }
}