.nes-content .game-box {
    width: 600px;
    margin: 0 auto;
    background: #d3d3d3;
    touch-action: manipulation;
}

.nes-content .nes-progress {
    border-image-outset: 1.2;
    height: 20px;
    margin: 0px;
    position: relative;
    background-color: #f9f2d7;
}

.nes-content .game-box .screen-wrapper {
    background: black;
}

.nes-content .game-box .game-screen {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: initial;
    padding: 0.1em;
    background-color: #f9f2d7;
}

.nes-container .game-screen .start-wrapper {
    flex: 1;
}

.nes-content .game-screen .start-screen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f9f2d7;
}
.nes-content .bar-wrapper{
    position: relative;
}

.nes-content .bar-wrapper label{
    margin: 0;
    display: inline;
    padding: 0;
    position: absolute;
    left:4%;
    top: -1px;
    z-index: 2;
    font-size: 0.8em;
}

.nes-content .game-screen .monster-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nes-content .monster-box .monster {
    zoom: 1.5;
    animation: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    position: relative;
}

.nes-content .monster-box .monster.attacked {
    zoom: 1.5;
    animation: attacked-rotate, attacked-flash;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.nes-content .monster-box .monster.attacking {
    zoom: 1.5;
    animation: attacking;
    animation-timing-function: linear;
    animation-duration: 0.5s;
}

.nes-content .monster-box .monster.blocked-attack{
   opacity: 0.5;
}

.nes-content .monster-box .monster.special:before{
    color: gold !important;
  
}

.nes-content .monster-box .monster.special-temp:before{
    animation: special;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.nes-content .monster-bars .nes-progress.is-warning.critical-hit::-webkit-progress-value {
    background-color: red;
}

.nes-content .hero-bars .hero-stats {
    display: flex;
    justify-content: space-between;
}

.nes-content .monster-bars.nes-container {
    padding: 0.4em;
    padding-bottom: 0;
}

.nes-content .monster-bars.nes-container.with-title>.title {
    font-size: 1em;
    margin: 0rem 0 -0.8rem;
    background-color: #f9f2d7;
}

.nes-content .hero-bars .hero-health-bar-label{
        top: 5px;
}

.nes-content .hero-bars.nes-container {
    padding: 0.4em;
    padding-bottom: 0;
}

.nes-content .hero-bars.nes-container .nes-progress.is-error {
    margin-top: 0.3em;
}

.nes-content .hero-bars.nes-container.with-title>.title {
    font-size: 1em;
    margin: -1rem 0 0;
    background-color: #f9f2d7;
}

.nes-content .hero-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.3em;
}

.nes-content .hero-buttons .nes-btn {
    width: 22%;
    font-size: 0.6em;
    height: 66px;
    user-select: none;
}

.nes-content .hero-bars .nes-progress.alert {
    animation: alert;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.nes-content .hero-buttons .nes-btn.alert {
    animation: alert-button;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.nes-content .hero-buttons .nes-btn.alert::after {
    animation: alert-button-border;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.nes-content .level-up-screen h1,
.nes-content .level-up-screen p {
    text-align: center;
}

.nes-content .level-up-screen h1{
    margin-top: 1em;
}

.nes-content .level-up-screen {
    text-align: center
}

.nes-content .level-up-screen .level-up-options {
    display: flex;
    justify-content: space-evenly;
}

.nes-content .level-up-options>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nes-content .level-up-screen .level-up-options .nes-icon.coin:before {
    color: #108de0;
}

.nes-content .level-up-screen .level-up-options div:hover {
    cursor: url(/images/imagescursor-click.png) 14 0, pointer;
}

.nes-content .level-up-screen .level-up-options span {
    display: block;
    padding-top: 1em;
}

.nes-content .game-over-screen,
.nes-content .game-win-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.nes-content .game-over-screen .retry:hover {
    cursor: url(/images/imagescursor-click.png) 14 0, pointer;
}

.nes-content .game-win-screen .h4 {
    margin-top: .5rem;
}

.nes-content .next-challenger-screen {
   overflow: hidden;
   height: 100%;
}

.nes-content  .game-box .next-challenger-screen .monster-box{
    justify-content: center;
    align-items: center;
}

.nes-content  .game-box .next-challenger-screen .monster{
    zoom:2.6;
    animation: none;
}

.nes-content  .game-box .next-challenger-screen .monster-name{
   font-size: 1em;
   margin-bottom: 1em;
   margin-top: 1em;
}
@keyframes alert {
    to {
        color: #e76e55;
        border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(231, 110, 85)" /></svg>');
    }
}

@keyframes alert-button {
    to {
        background-color: #e76e55;
    }
}

@keyframes alert-button-border {
    to {
        box-shadow: inset -4px -4px #e76e55;
    }
}

@keyframes special {
    from{
        color: gold;
    }
    to {
        color: gold;
    }
}

@keyframes attacked-rotate {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(350deg);
    }
}

@keyframes attacked-flash {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes attacking {
    0% {
        position: relative;
        bottom: 0;
        right: 2.5%;
    }
    25% {
        position: relative;
        bottom: 10%;
        right: 5%;
    }
    50% {
        position: relative;
        bottom: 20%;
        right: 5%;
    }
    75% {
        position: relative;
        bottom: 0;
        right: -2.5%;
    }
    100% {
        position: relative;
        bottom: 0;
        right: 0;
    }
}

@keyframes move {
    0% {
        position: relative;
        right: 0;
    }
    25% {
        position: relative;
        right: 2.5%;
    }
    50% {
        position: relative;
        right: 0;
    }
    75% {
        position: relative;
        right: -2.5%;
    }
    100% {
        position: relative;
        right: 0;
    }
}

@media(max-width:767px) {
    .content-wrapper>.nes-container {
        padding-bottom: 0;
    }
    .nes-content .game-box {
        width: 100%;
        font-size: 0.8em;
    }
    .nes-content .nes-container {
        padding: 0.8em;
    }
    .nes-content .game-box .game-screen {
        height: 249px;
    }
    .nes-content .hero-buttons {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .nes-content .hero-buttons .nes-btn {
        height: 70px;
        margin: 4%;
        flex: 1 0 42%;
    }
    .nes-content .nes-progress {
        height: 17px;
    }
    .nes-content .game-box .monster-box .monster {
        zoom: 0.6;
    }

    .nes-content .bar-wrapper label{
        top: 0;
    }

    .nes-content  .game-box .next-challenger-screen .monster{
        zoom:2;
    }

    .nes-content .level-up-screen {
        font-size: 0.7em;
    }
}

.nes-icon .game-box {
    font-size: 1rem;
    height: 200px;
    width: 100px;
}