.sound-bite-container{
    font-size: 1rem;
    margin:0 auto;
    width: 100%;
}

.sound-bite-container .category-selector{
    position: relative;
    background: white;
}

.sound-bite-container .selected-category{
    border: 0.2rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    font-size: 2rem;
}

.sound-bite-container .selected-category h1{
    margin:0;
}

.sound-bite-container .category-list{
    list-style: none;
    margin:0;
    padding: 0;
    font-size: 1.2em;
    border: 0.2rem solid black;
    border-top: none;
    overflow: auto;
    max-height: 50vh;
    position: absolute;
    width: 100%;
    background: white;
}

 .sound-bite-container .category-list.closed{
       display: none;
 }

.sound-bite-container .category-list .category-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
}

.sound-bite-container .category-list .category-list-item.selected{
    background: #81cfe0;
}

.sound-bite-container .category-list .category-list-item.selected:hover{
    background: #81cfe0;
}

.sound-bite-container .category-list .category-list-item:hover{
    background: #c5eff7;
}

.sound-bite-container .sound-bites-box{
    display: flex;
    flex-wrap: wrap;
    border: 0.2rem solid black;
    border-top: none;
    width: 100%;
    height: 70vh;
    overflow: auto;
    background: white;
}

.sound-bite-container .sound-bites-box .sound-bite{
    flex:0 0 46%;
    height: 50px;
    margin: 2%;
    display: block;
    font-weight: bold;
    background:var(--diamond-black);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.5em;
}

.sound-bite-container .sound-bites-box .sound-bite:hover {
    opacity: 0.7;
}

@media(min-width:767px) {
    .sound-bite-container{
      display: flex;
    }

    .sound-bite-container .category-selector{
        flex:  0 0 320px;
        height: 80vh;
        width: 420px;
        border: 4px solid black;
      }

.sound-bite-container .selected-category{
    border: none;
    display: none;
}
.sound-bite-container .category-list{
    border: none;
    position: initial;
    width: auto;
    background: none;
}
.sound-bite-container .category-list.closed{
    display: block;
}
    .sound-bite-container .sound-bites-box{
        flex: 1 1 742px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        border:  4px solid black;
        border-left: 0;
       padding: 10px;
       height: 80vh;
       max-height: 80vh;
       max-width: 744px;
    }
    .sound-bite-container .sound-bites-box .sound-bite{
         flex:0 0 100px;
         width:100px;
         height: 100px; 
         margin: 10px;
    }
}